.profile {
  width: 45px;
  height: 45px;
  border: 2px solid black;
  border-radius: 50px;
  position: absolute;
  top: 180px;
  left: 20px;
}

.content{
width: 320px;
height: 100px;
position: absolute;
left: 40px;
top: 20px;
}

.cont{
  width: 400px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
}

.body{
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.name{
position: absolute;
top: 195px;
left: 80px;
}